body {
display: flex;
justify-content: center;
align-items: center;
	background: linear-gradient(135deg, #d9a7c7, #fffcdc);	
	color: black;
	padding: 20px;
	border-radius: 20px;
	max-width: 400px;
	margin: 30px auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.profile-container {
background-color: #FFF0F5;
padding: 30px;
border-radius: 12px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
width: 300px;
text-align: left;
}

.info-label {
width: 100px;
display: inline-block;
color:#333;		
font-weight:bold;
}

a {
display: inline-block;
background-color:#BC8F8F;
color: #ffffff;
padding: 10px 20px;
border-radius: 5px;
margin-top: 10px;
text-decoration: none;
}

a:hover {
background-color: #BC8F8F;
}

.profile-info {
line-height: 20px;
color: #F1B6AC
margin-bottom: 10px;
}

img {
border-radius: 50%;
object-fit: cover;
border: 3px solid #333;
}














