.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #F9DFDF;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a{
	color: #BC8F8F;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
	/* menambahkan background link dinav*/
	background-color: #FFF0F5;
	padding: 10px 20px;
	border-radius: 20px;
} 

.nav-links li a:hover {
	background-color: pink;
	padding: 10px 20px;
	border-radius: 20px;
	color: #DB7093;
	font-weight: bold;
} 
	 
.content {
	padding: 80px 20px;
	height: 100%; 
	padding-top: 250px; 
	color: #FFF0F5;
	/* biar bisa gradasi*/
	background: linear-gradient(135deg, #d9a7c7, #fffcdc);
	background-color: #FDF5E6;
	text-align: center;
}

.content ul a {
	color: #BC8F8F;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
	/* menambahkan background link dinav*/
	background-color: #FEEAC9;
	padding: 10px 20px;
	border-radius: 10px;
}

.content ul a:hover {
	background-color: pink;
	padding: 10px 20px;
	border-radius: 20px;
	color: FFF8DE;
	font-weight: bold;
}

.logo {
	background-color: white;
	color: pink;
	border-radius: 50%;
	font-weight: bold;
	font-size: 21;
	text-shadow: 0 0 7px #fff, 0 0 21px #fff00de;
	padding: 10px; 
}

.skillcard {
	background-color: #FBEFEF;
	color: black;
	padding: 20px;
	border-radius: 20px;
	max-width: 400px;
	margin: 30px auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sertifikat {
	background-color: #FBEFEF;
    	color: black;
    	padding: 20px;
    	border-radius: 20px;
    	max-width: 400px;
    	margin: 30px auto;
		align-items: center;
} 